@page "/manufacturing"
@using Humanizer
@using RoyalERP.WebApp.Shared.API.ProductClasses
@using RoyalERP.WebApp.Shared.API.WorkOrders
@using System.Linq;
@using System.Diagnostics
@inject IWorkOrderAPI workorderApi
@inject IProductClassAPI productclassApi
@inject NotificationService notificationService
@inject DialogService dialogService

<PageTitle>Manufacturing</PageTitle>

<style>

    .link {
        cursor: pointer;
    }

    .link:hover {
        color: darkblue;
        text-decoration: underline;
    }

    .dangerlink {
        cursor: pointer;
        color:darkred;
        font-weight:bold;
    }

    .dangerlink:hover {
        text-decoration: underline;
    }

</style>

@if(isLoading) {
    <p>Loading...</p>
} else {

    if (_workOrdersByProductClass.Count == 0) {
        <p>No orders to show</p>
    } else {
        
        <div class="container">

            <div class="row">

                <div class="col-md-auto">
                    <h4 class="mt-4">Work Orders</h4>
                    <RadzenTree Change=@OnProductSelect>
                        @{
                            bool isFirst = true;
                            foreach (ProductClass prodclass in _workOrdersByProductClass.Keys) {
                                <RadzenTreeItem Value="prodclass" Text="@prodclass.Name" Selected="isFirst"></RadzenTreeItem>
                                isFirst = false;
                            }
                        }
                    </RadzenTree>
                </div>

                <div class="col">

                    @if (string.IsNullOrEmpty(_selectedProductname)) {

                        <b>Select product to view work orders</b>

                    } else {

                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-4">
                                    <h2 class="mb-0 mt-2">@_selectedProductname.Pluralize(inputIsKnownToBeSingular: false)</h2>
                                </div>

                                <div class="col">
                                    <div class="float-end">
                                        <RadzenButton ButtonStyle="ButtonStyle.Light">
                                            <i class="bi bi-download"></i><span class="ml-2">Download</span>
                                        </RadzenButton>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <RadzenTabs>
                                        <Tabs>
                                            <RadzenTabsItem Text="Scheduler">

                                                <!-- Late Orders -->
                                                @if (_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress") && o.ScheduledDate < DateTime.Today).Any()) {
                                                    <RadzenPanel AllowCollapse="true" Style="margin: 0px auto;">
                                                        <HeaderTemplate>
                                                            <h4 class="m-0 d-flex align-items-center">
                                                                <RadzenIcon Icon="hourglass_full" IconStyle="IconStyle.Danger" Class="mr-1" /><b>Late</b>
                                                            </h4>
                                                        </HeaderTemplate>

                                                        <ChildContent>
                                                            <RadzenDataGrid Class="mt-3" TItem="WorkOrder" Data="@_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress") && o.ScheduledDate < DateTime.Today)" AllowFiltering="false" AllowColumnResize="true" AllowSorting="true">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Number" Title="Number" Width="75px" />
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Name" Title="Name" />
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="CustomerName" Title="Customer">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.CustomerName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="VendorName" Title="Vendor">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.VendorName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Quantity" Title="Qty" Width="50px"/>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Title="Scheduled" Property="ScheduledDate" Sortable="true" Width="135px">
                                                                        <Template Context="order">
                                                                            <span @onclick="async () => await OpenScheduler(order)" class=" dangerlink">
                                                                                @if (order.ScheduledDate is null) {
                                                                                    <span>no date</span>
                                                                                } else {
                                                                                    <span>@DateTimeString((DateTime)order.ScheduledDate)</span>
                                                                                }
                                                                            </span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="false" Filterable="false" Width="115px">
                                                                        <Template Context="order">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="async () => await CompleteOrder(order)">Complete</RadzenButton>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </ChildContent>

                                                        <SummaryTemplate>
                                                            <RadzenCard class="mt-3">
                                                                <b>@("Late Order".ToQuantity(_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress") && o.ScheduledDate < DateTime.Today).Count()))</b>
                                                            </RadzenCard>
                                                        </SummaryTemplate>
                                                    </RadzenPanel>
                                                }

                                                <!-- Unscheduled Orders -->
                                                @if (_selectedProductWorkOrders.Where(o => o.ScheduledDate is null).Any()) {
                                                    <RadzenPanel AllowCollapse="true" Style="margin: 40px auto;">
                                                        <HeaderTemplate>
                                                            <h4 class="m-0 d-flex align-items-center">
                                                                <RadzenIcon Icon="alarm" IconStyle="IconStyle.Warning" Class="mr-1" /><b>Unscheduled</b>
                                                            </h4>
                                                        </HeaderTemplate>

                                                        <ChildContent>
                                                            <RadzenDataGrid Class="mt-3" TItem="WorkOrder" Data="@_selectedProductWorkOrders.Where(o => o.ScheduledDate is null)" AllowFiltering="false" AllowColumnResize="true" AllowSorting="true">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Number" Title="Number" Width="75px" />
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Name" Title="Name" />
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="CustomerName" Title="Customer">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.CustomerName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="VendorName" Title="Vendor">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.VendorName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Quantity" Title="Qty" Width="50px"/>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="false" Filterable="false" Width="115px">
                                                                        <Template Context="order">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="async () => await OpenScheduler(order)">Schedule</RadzenButton>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="false" Filterable="false" Width="115px">
                                                                        <Template Context="order">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="async () => await CompleteOrder(order)">Complete</RadzenButton>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </ChildContent>

                                                        <SummaryTemplate>
                                                            <RadzenCard class="mt-3">
                                                                <b>@("Unscheduled Order".ToQuantity(_selectedProductWorkOrders.Where(o => o.ScheduledDate is null).Count()))</b>
                                                            </RadzenCard>
                                                        </SummaryTemplate>
                                                    </RadzenPanel>
                                                }

                                                @if (_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress")).Any()) {

                                                    <RadzenPanel AllowCollapse="true" Style="margin: 40px auto;">
                                                        <HeaderTemplate>
                                                            <h4 class="m-0 d-flex align-items-center">
                                                                <RadzenIcon Icon="alarm" IconStyle="IconStyle.Info" Class="mr-1" /><b>Scheduled</b>
                                                            </h4>
                                                        </HeaderTemplate>

                                                        <ChildContent>
                                                            <RadzenDataGrid Class="mt-3" TItem="WorkOrder" Data="@_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress"))" AllowFiltering="false" AllowColumnResize="true" AllowSorting="true">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Number" Title="Number" Width="75px"/>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Name" Title="Name" Width="150px"/>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="CustomerName" Title="Customer">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.CustomerName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="VendorName" Title="Vendor">
                                                                        <Template Context="order">
                                                                            <span class="link">@order.VendorName</span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Quantity" Title="Qty" Width="50px"/>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Title="Scheduled" Property="ScheduledDate" Sortable="true" Width="135px">
                                                                        <Template Context="order">
                                                                            <span @onclick="async () => await OpenScheduler(order)" class="link">
                                                                                @if (order.ScheduledDate is null) {
                                                                                    <span>no date</span>
                                                                                } else {
                                                                                    <span>@DateTimeString((DateTime)order.ScheduledDate)</span>
                                                                                }
                                                                            </span>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="WorkOrder" Sortable="false" Filterable="false" Width="115px">
                                                                        <Template Context="order">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="async () => await CompleteOrder(order)">Complete</RadzenButton>
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </ChildContent>

                                                        <SummaryTemplate>
                                                            <RadzenCard class="mt-3">
                                                                <b>@("Scheduled Order".ToQuantity(_selectedProductWorkOrders.Where(o => o.Status.Equals("InProgress")).Count()))</b>
                                                            </RadzenCard>
                                                        </SummaryTemplate>
                                                    </RadzenPanel>
                                                }

                                             </RadzenTabsItem>
                                
                                            <RadzenTabsItem Text="Not Released">
                                                <RadzenDataGrid Class="mt-3" TItem="WorkOrder" Data="@_selectedProductWorkOrders.Where(o => o.Status.Equals("Pending"))" AllowFiltering="false" AllowColumnResize="true" AllowSorting="true">
                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Number" Title="Number" />
                                                        <RadzenDataGridColumn TItem="WorkOrder" Sortable="true" Property="Name" Title="Name" />
                                                        <RadzenDataGridColumn TItem="WorkOrder" Width="115px" Sortable="false" Filterable="false">
                                                            <Template Context="order">
                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="async () => await ReleaseOrder(order)">Release</RadzenButton>
                                                            </Template>
                                                        </RadzenDataGridColumn>
                                                    </Columns>
                                                </RadzenDataGrid>
                                            </RadzenTabsItem>

                                            <RadzenTabsItem Text="Fulfilled">
                                            </RadzenTabsItem>

                                            <RadzenTabsItem Text="Canceled">
                                            </RadzenTabsItem>
                                        </Tabs>
                                    </RadzenTabs>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    }

}

@if (!string.IsNullOrEmpty(errorMsg)) {
    <p style="color:red">@errorMsg</p>
    @if (!showDetailedError) {
        <button @onclick="ShowExceptionDetails">Details</button>
    } else {
        <p>@(exception?.ToString() ?? "no details.")</p>
    }
}

@code {

    bool isLoading = true;
    string errorMsg = "";
    Exception? exception = default;
    bool showDetailedError = false;

    private Dictionary<ProductClass, List<WorkOrder>> _workOrdersByProductClass = new();

    private string _selectedProductname = "";
    private List<WorkOrder> _selectedProductWorkOrders = new();

    protected override async Task OnInitializedAsync() {

        await LoadWorkOrders();

    }

    private async Task LoadWorkOrders() {
        try {

            isLoading = true;
            IEnumerable<WorkOrder> workOrders = await workorderApi.GetAll();

            var classes = workOrders.Select(o => o.ProductClass).Distinct();

            foreach (var classId in classes) {

                var product = await productclassApi.GetById(classId);
                if (product is null) continue;

                _workOrdersByProductClass[product] = workOrders.Where(o => o.ProductClass == classId).ToList();

            }

            errorMsg = "";

        } catch (Exception ex) {
            errorMsg = ex.Message;
            exception = ex;
        } finally {
            isLoading = false;
        }
    }

    private void OnProductSelect(TreeEventArgs args) {
        _selectedProductname = args.Text;
        _selectedProductWorkOrders = _workOrdersByProductClass[(ProductClass) args.Value];
    }

    private async Task CompleteOrder(WorkOrder order) {

        var result = await dialogService.Confirm($"Are you sure you want to complete order {order.Number}", $"Complete {order.Number}", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
        if (result is null || ((bool)result == false)) return;

        notificationService.Notify(new NotificationMessage {
            Severity = NotificationSeverity.Info,
            Summary = "Updated",
                Detail = "Work Order completed",
            Duration = 4000 
        });

    }

    private async Task ReleaseOrder(WorkOrder order) {

        var result = await dialogService.Confirm($"Are you sure you want to release order {order.Number}", $"Release {order.Number}", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
        if (result is null || ((bool)result == false)) return;

        notificationService.Notify(new NotificationMessage {
            Severity = NotificationSeverity.Info,
            Summary = "Updated",
            Detail = "Work Order released",
            Duration = 4000 
        });
    }

    private async Task OpenScheduler(WorkOrder order) {

        var prodClass = await productclassApi.GetById(order.ProductClass) ?? new();

        await dialogService.OpenAsync<SchedulerDialog>($"Order {order.Number} - {order.Quantity} {prodClass.Name.Pluralize(false)}",
               new Dictionary<string, object>() { { "OrderId", order.Id } },
               new DialogOptions() { Width = "770px", Height = "415px", Resizable = true, Draggable = true });

    }

    private string DateTimeString(DateTime date) {

        if (date.Date == DateTime.Today.Date)
            return "Today";

        if (date.Year == DateTime.Today.Year)
            return date.ToString("dddd MMM dd");

        return date.ToString("dddd MMM dd yyyy");

    }

    private void ShowExceptionDetails() => showDetailedError = true;

}